body{
    padding:15px;
    background-color: black ;
}

.container_1{
    display:flex;
    justify-content: space-between;
    margin:auto;
    width:75%;
    /* border : 1px solid black; */
    height:fit-content;
    position:relative;
    top:0px;
    flex-wrap: wrap;
}

.top_1{
    font-size: 50px;
    text-align: left;
    color: rgb(102, 225, 233);
    font-family: sans-serif;
}

.top_2{
    font-size: 30px;
    text-align: right;
    font-family: sans-serif;
    padding: 20px;
    font-weight:lighter;
    color: rgb(113, 113, 113);
}

.abtn{
    height:42px;
    width:42px;
    border-radius: 50%;
    position:relative;
    bottom:3px;
    font-size: 20px;
    color:white;
    background-color: rgb(242, 69, 69);
    border :none;
}
.abtn:hover{
    color:white;
    background-color: rgb(242, 69, 69);
}

.container_2{
    display:flex;
    justify-content: space-around;
    margin:auto;
    width:80%;
    height:fit-content;
    position:relative;
    top:0px;
    column-gap: 40px;
    row-gap:30px;
    /* border:1px solid white; */
}

.cards{
    height:400px;
    width:270px;
    /* border:1px solid rgb(242, 69, 69); */
    border:1px solid rgb(69, 225, 242);
    border-radius: 10px;
    text-align: center;
    padding:30px;
    /* box-shadow: 10px 10px 10px rgb(216, 215, 215); */
}

h2{
    font-weight: lighter;
    /* color:rgb(242, 69, 69); */
    color:white;
}

hr.hr_style{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0));
}

.cardText{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    font-size: 25px;
    position:relative;
    top:40px;
    color:rgb(244, 55, 55);
}

.form{
    font-size:22px;
    position: relative;
    top:60px;
}
input[type="checkbox"]{
    width: 18px;
    height: 18px;
}

strong{
    color:rgb(38, 38, 38);
}  

.addCard{
    height:240px;
    width:450px;
    border:1px solid rgb(242, 69, 69);
    border-radius: 10px;
    text-align: center;
    padding:10px;
    position: fixed;
    left: 50%;
    top:32%;
    transform: translate(-50%, 0);
    z-index:200;
    background-color: white;
    /* box-shadow: 10px 10px 10px rgb(216, 215, 215); */
}
#blur{
    filter:blur(7px);
}

.form2{
    font-size:22px;
    padding:10px;
}

.add_head{
    font-size: 25px;
    color:rgb(242, 69, 69);
    position: relative;
    top:15px;
}
#addtext,#additemtext{
    width:330px;
    border:1px solid rgb(242, 69, 69);
    border-radius: 5px;
    height:45px;
    box-shadow: 3px 3px 5px rgb(216, 215, 215);
}

.add_btn,#addItemBtn{
    border:none;
    background-color: rgb(242, 69, 69);
    color:white;
    height:45px;
    width:100px;
    border-radius: 25px;
    font-size: 24px;
    position: relative;
    bottom:10px;
}

h1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    width:50%;
    padding:20px;
    gap: 20px;
    font-size: 50px;
}
  
h1:before,h1:after {
    content: "";
    flex:1;
    border-bottom: var(--color);
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    margin: auto;
    width:50%;
}

.top_back{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    font-weight:lighter;
    color: rgb(113, 113, 113);
}

.center_card{
    height:400px;
    width:420px;
    border:1px solid rgb(69, 225, 242);
    border-radius: 10px;
    text-align: center;
    margin:auto;
    padding:30px;
    position: relative;
    bottom:90px;
    /* box-shadow: 10px 10px 10px rgb(216, 215, 215); */
}

.btn_2{
    height:42px;
    width:42px;
    border-radius: 50%;
    position:relative;                 
    left:170px;                  
    top:110px;
    font-size: 20px;
    color:white;
    background-color: rgb(242, 69, 69);
    border :none;
}
.btn:hover{
    color:white;
    background-color: rgb(242, 69, 69);
}

#del{
    position : relative;
    top : 15px;
    left : 79px;
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color : rgb(242, 69, 69);
    color : white;
    border:none;
}

#del:hover{
    background-color : rgb(148, 38, 38);
    color : white;
}

#plus{
    position : relative;
    top : 15px;
    left : 90px;
    height:30px;
    width:30px;
    border-radius : 50%;
    background-color : rgb(69, 138, 242);
    color : white;
    border:none;
}

#plus:hover{
    background-color : rgb(43, 86, 150);
    color : white;
}

.mkbtn{
    width:fit-content;
    height: 19px;
    padding-bottom: 10px;
    background-color: rgb(137, 206, 33) ;
    color:white;
    border-radius: 10px;
    position:relative;
    top:7px;
    border:none;
}
.mkbtn:hover{
    background-color: rgb(71, 108, 15) ;
    color:white;
}

.li-id{
  font-size: 19px;
  color:white;
}

#mk-text{
    position: relative;
    bottom: 6px;
}

#head-sec{
    border:none;
    background: transparent;
}

.inDiv{
    position: relative;
    right:35px;
    width:250px;
    /* border:1px solid white; */
}
#showww{
    height:50px;
    width:500px;
    font-size: 40px;
    color: rgb(130, 130, 130);
    position: relative;
    left:200px;
    /* border: 1px solid white; */
}

.line{
    border-top: 1px solid white;
    width:100px;
}
#h-one{
    color:white;
}

.back_btn{
    height:50px;
    width:50px;
    border-radius: 50%;
    color:white;
    background-color: rgb(242, 69, 69); 
    border:none;
}

.hide{
    visibility:hidden;
}

#m_del{
    position : relative;
    top : 15px;
    left : 120px;
    border-radius: 50%;
    background-color : rgb(242, 69, 69);
    color : white;
    border:none;
}

#m_plus{
    position : relative;
    top : 15px;
    left : 130px;
    border-radius : 50%;
    background-color : rgb(69, 138, 242);
    color : white;
    border:none;
}

.m_inDiv{
    position: relative;
    left:50px;
    /* right:35px; */
    width:250px;
    /* border:1px solid white; */
}

.cut{
    color: rgb(242, 69, 69);
    text-decoration-color:rgb(242, 69, 69);
    text-decoration: line-through;
    font-size: 19px;
    text-decoration-thickness: 3px;
}
